.btn {
  --btn-border-color: var(--color-border);
  --btn-bg-color: transparent;
  --btn-color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px 12px;
  color: var(--btn-color);
  background-color: var(--btn-bg-color);
  border: 1px solid var(--btn-border-color);
  border-color: var(--btn-border-color);
  border-radius: 6px;
  position: relative;
}

a.btn {
  text-decoration: none;
}

.btn--sm {
  font-size: 14px;
  padding: 0 7px;
}

.btn--lg {
  font-size: 16px;
  padding: 10px 16px;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--color-surface);
  border-color: var(--color-border-heavy);
}

.btn-accent {
  --btn-border-color: var(--color-acent);
  --btn-bg-color: var(--color-accent);
  --btn-color: var(--color-text-black);
}

.btn-accent:hover,
.btn-accent:focus-visible {
  background-color: var(--color-accent-darkened);
  border-color: var(--color-accent-darkened);
}

.btn-success {
  --btn-border-color: var(--color-success);
  --btn-bg-color: var(--color-success);
  --btn-color: var(--color-text-white);
}

.btn-success:hover,
.btn-success:focus-visible {
  background-color: var(--color-success-darkened);
  border-color: var(--color-success-darkened);
  color: var(--color-text-white);
}

.btn-accent-outline {
  color: var(--color-accent);
  background-color: transparent;
  border-color: var(--color-accent);
}

.btn-accent-outline:hover,
.btn-accent-outline:focus-visible {
  color: var(--color-text-black);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn:disabled,
.btn--loading {
  cursor: default;
  opacity: 0.65;
}
