.header {
  margin: 0;
}

.button {
  width: 100%;
  margin-block: var(--space-lg);
}

.footer {
  margin-block-start: var(--space-lg);
}

@media (min-width: 1200px) {
  .input {
    min-width: 300px;
  }
}