.btn,
.face {
  aspect-ratio: 4/3;
}

.btn {
  background: hsl(340deg 100% 32%);
  border-radius: 100%;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.btn:hover,
.btn:focus-visible {
  background-color: hsl(340deg 100% 32%);
}

.face {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 42px;
  border-radius: 100%;
  font-size: var(--font-lg);
  background: hsl(345deg 100% 47%);
  color: white;
  font-weight: bold;
  transform: translate3d(0, -12px, 0);
}

.btn:active .face {
  transform: translate3d(0, -2px, 0);
}
